body {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.logoName {
  font-family: 'Ubuntu Mono', cursive;
  font-size: 10vw;
  font-stretch: normal;
  position: absolute;
  text-align: left;
  right: 0;
  left: 5vw;
  bottom: 0;
  top: 60vh;
  height: auto;
  display: inline-block;
  overflow: auto;
  color: #fef0fc;
  z-index: 1;
}

#home-wallpaper {
  background: linear-gradient(180deg, #6405b9 0%, #3e2252 100%);
  /*background-image: url("../pictures/homeBackground.jpg");*/
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.rocketImage {
  background-image: url("../pictures/png/rocket.png");
  position: absolute;
  z-index: 2;
  display: block;
  left: 60vw;
  top: 30vh;
}
