body {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.logoName {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 10vw;
  font-stretch: normal;
  position: absolute;
  text-align: left;
  right: 0;
  left: 5vw;
  bottom: 10vh;
  height: auto;
  display: inline-block;
  overflow: auto;
  color: #fef0fc;
  z-index: 1;
}

#home-wallpaper {
  background-color: #333039;
  /*background-image: url("../pictures/homeBackground.jpg");*/
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.scene {
  top: 0;
  left: 0;
}

.rocketImage {
  background-image: url("../pictures/png/rocketBlue.png");
  position: absolute;
  z-index: 2;
  display: inline; 
}
